body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
}

#header {
    background-color: #1d8326;
    padding: 20px 0;
    color: #fff;
}

#header h2 {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav li {
    display: inline-block;
    margin-left: 15px;
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}

.food-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.food-item-text {
    padding: 15px;
}

.food-item-text h3 {
    margin: 0;
    padding: 0;
}

.button {
    background-color: #4881c1;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 6px;
}

#footer {
    background-color: #1d8326;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #fff;
}